<nav th:fragment="indexTopBar" class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm mb-5">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">
            <i class="bi bi-person-gear me-2"></i>HubVendas
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="bi bi-house-door me-1"></i>Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="bi bi-people me-1"></i>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="create-account"><i class="bi bi-graph-up me-1"></i>Criar Conta</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/">Início</a></li>
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        <li><a class="dropdown-item" href="/create-account">Criar Conta</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>